@using Ledinpro.Models
@using Ledinpro.Data

@inject LedinproContext Context
@{
    var companyInfos = (from c in Context.CompanyInfos
                        select c).ToList();

    var salesManContacts = (from c in Context.SaleContactInfos
                            where c.IsShow == true
                            select c).ToList();
}

<br />
<div class="container">
    <div class="row" style="color: white">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>
                <h4>Address:</h4>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 河南省郑州市高新区青杨街与枫林路交叉口</span>
                <br >
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"> info@ledinpro.com</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                    @if (salesManContacts.Count() > 0)
                    {
                        <h4>Contact Info:</h4>
                    }

                    @foreach (var item in salesManContacts)
                    {
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            @{
                                if (item.IsShow == false)
                                {
                                    continue;
                                }

                                <span class="glyphicon glyphicon-user"></span> @item.Name
                                <br />
                                <span class="glyphicon glyphicon-phone-alt"></span> @item.Phone
                                <br />
                                if (item.CellPhone != null)
                                {
                                    <span class="glyphicon glyphicon-earphone"></span> @item.CellPhone
                                    <br />
                                }
                                if (item.Email != null)
                                {
                                    <span class="glyphicon glyphicon-envelope"></span> @item.Email
                                    <br />
                                }
                                if (item.Skype != null)
                                {
                                    <span class="glyphicon glyphicon-comment"></span> @item.Skype
                                    <br />
                                }

                                <br />
                            }
                        </div>
                    }
            </div>
        </div>
        


        <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <form method="POST" id="userMessage" action="#">
                <div class="form-group">
                    <input name="name" type="text" class="form-control" style="width: 100%" placeholder="name" />
                </div>
                <div class="form-group">
                    <input name="email" type="text" class="form-control" style="width: 100%" placeholder="email" />
                </div>
                <div class="form-group">
                    <input name="message" type="text" class="form-control" style="width: 100%" placeholder="message" />
                </div>
                <div class="form-group">
                    <input type="button" id="sendMessage" class="btn btn-primary" value="Send" style="width: 100%;margin-top: 5px"/>
                </div>
            </form>
        </div> -->
    </div>
</div>
