@using Ledinpro.Models
@using Ledinpro.Data
@model Ledinpro.Models.CustomerContactInfo

@inject LedinproContext Context
@{
    var companyInfos = (from c in Context.CompanyInfos
                        select c).ToList();

    var salesManContacts = (from c in Context.SaleContactInfos
                            where c.IsShow == true
                            select c).ToList();
}

<br />
<div class="container">
    <div class="row" style="color: white">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div>
                <h4>Address:</h4>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> No.27 Fenglin Road,High Technology Development Zone,Zhengzhou Henan China
                <br>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> info@ledinpro.com
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="row">
                    @if (salesManContacts.Count() > 0)
                    {
                        <h4>Contact Info:</h4>
                    }

                    @foreach (var item in salesManContacts)
                    {
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            @{
                                if (item.IsShow == false)
                                {
                                    continue;
                                }

                                <span class="glyphicon glyphicon-user"></span> @item.Name
                                <br />
                                <span class="glyphicon glyphicon-phone-alt"></span> @item.Phone
                                <br />
                                if (item.CellPhone != null)
                                {
                                    <span class="glyphicon glyphicon-earphone"></span> @item.CellPhone
                                    <br />
                                }
                                if (item.Email != null)
                                {
                                    <span class="glyphicon glyphicon-envelope"></span> @item.Email
                                    <br />
                                }
                                if (item.Skype != null)
                                {
                                    <span class="glyphicon glyphicon-comment"></span> @item.Skype
                                    <br />
                                }

                                <br />
                            }
                        </div>
                    }
            </div>
        </div>

        <!-- 留言表单 -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>Contact form:</h4>
            <form method="POST" id="userMessage" action="#">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Name" type="text" class="form-control" style="width: 100%" placeholder="name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Email" type="text" class="form-control" style="width: 100%" placeholder="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea asp-for="Message" type="text" class="form-control" style="width: 100%;margin-top: 5px" rows="6" placeholder="message"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LefzWMUAAAAAJMNLI6arAVzs_Z7nOIyk9bF8nDW"></div>
                    <input type="button" id="sendMessage" class="btn btn-primary" value="Send" style="width: 100%;margin-top: 5px"/>
                </div>
            </form>
        </div>
    </div>
</div>
