<!-- 产品部分视图 -->
@using Ledinpro.Models
@{
    List<Product> ProductList = ViewBag.Products;
}

<div id="typeProduct">
    <!-- 大屏幕部分 -->
    <div class="hidden-xs hidden-sm visible-md visible-lg">
        @{
            int index = 0;
            int firstProductSceneId = 0;
            if (ProductList == null)
            {
                return;
            }

            foreach (var p in ProductList)
            {
                // 如果当前产品是第一个产品或者和前一个产品不是同一场景，则标记Id
                if (index == 0)
                {
                    firstProductSceneId = 1000000 + p.ProductSceneId;
                }
                else
                {
                    if (ProductList[index - 1].ProductSceneId != p.ProductSceneId)
                    {
                        firstProductSceneId = 1000000 + p.ProductSceneId;
                    }
                    else
                    {
                        firstProductSceneId = p.Id;
                    }
                }

                <div id=@firstProductSceneId class="row" style="background-image:url(@(p.BackgroundPicturePath));background-size:cover;height:400px">
                    @if (index++ %2 == 0)
                    {
                        // 图片靠左
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <img class="img-responsive" style="max-width: 450px;float: right;display: inline-block" src=@p.PicturePath />
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <br />
                            <br />
                            <br />
                            <h5>Product Data</h5>

                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active">
                                    <a href=@("#RINTRODUCTION" + index.ToString()) aria-controls=@("RINTRODUCTION" + index.ToString()) role="tab" data-toggle="tab">
                                        INTRODUCTION
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href=@("#RSPECTRUM" + index.ToString()) aria-controls=@("RSPECTRUM" + index.ToString()) role="tab" data-toggle="tab">
                                        SPECTRUM
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href=@("#RSPECIFICATION" + index.ToString()) aria-controls=@("RSPECIFICATION" + index.ToString()) role="tab" data-toggle="tab">
                                        SPECIFICATION
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href=@("#RDATA" + index.ToString()) aria-controls=@("RDATA" + index.ToString()) role="tab" data-toggle="tab">
                                        DATA
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content" style="float: left">
                                <div role="tabpanel" class="tab-pane active" style="text-align:left;width:300px;padding-left:10px;padding-top:10px" id=@("RINTRODUCTION" + index.ToString())>
                                    <pre class="preDes" style="word-break:keep-all">@p.Description</pre>
                                </div>
                                <div role="tabpanel" class="tab-pane" id=@("RSPECTRUM" + index.ToString())>
                                    <img src=@p.Spectrum class="img-responsive" style="width:300px;height:200px" />
                                </div>
                                <div role="tabpanel" class="tab-pane" id=@("RSPECIFICATION" + index.ToString()) style="text-align:left;font-size: 15px">
                                    <br />
                                    <div class="productParameterDiv">Power:</div>@p.Power
                                    <br />
                                    <div class="productParameterDiv">Size:</div>@p.Specification
                                    <br />
                                    <div class="productParameterDiv">Efficiency:</div>@p.Efficient
                                    <br />
                                    <div class="productParameterDiv">PPF:</div>@p.Ppf
                                    <br />
                                    <div class="productParameterDiv">Beam:</div>@p.LightingAngle
                                </div>
                                <div role="tabpanel" class="tab-pane" id=@("RDATA" + index.ToString())>
                                    <br />
                                    <div class="row" style="width: 300px;height: 200px">
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                        </div>
                                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                            @if (!string.IsNullOrEmpty(p.ProductGuide) && !string.IsNullOrWhiteSpace(p.ProductGuide))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductGuide)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/pdf_icon.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Guide
                                                </a>
                                                <br />
                                                <br />
                                            }
                                            @if (!string.IsNullOrEmpty(p.ProductInstallationGuide) && !string.IsNullOrWhiteSpace(p.ProductInstallationGuide))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductInstallationGuide)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/pdf_icon.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Installation Guide
                                                </a>
                                                <br />
                                                <br />
                                            }
                                             @if (!string.IsNullOrEmpty(p.ProductDatasheet) && !string.IsNullOrWhiteSpace(p.ProductDatasheet))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductDatasheet)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/excel.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datasheet
                                                </a>
                                                <br />
                                                <br />
                                            }
                                            @if (!string.IsNullOrEmpty(p.ProductIES) && !string.IsNullOrWhiteSpace(p.ProductIES))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductIES)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/zip.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IES-Data LDT-Data
                                                </a>
                                                <br />
                                                <br />
                                            }
                                        </div>
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        // 图片靠右
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"  style="padding-right: 50px">
                            <div class="" style="float: right">
                                <br />
                                <br />
                                <br />
                                <h5>Product Data</h5>
                                <ul class="nav nav-tabs">
                                    <li role="presentation" class="active">
                                        <a href=@("#LINTRODUCTION" + index.ToString()) aria-controls=@("LINTRODUCTION" + index.ToString()) role="tab" data-toggle="tab">
                                            INTRODUCTION
                                        </a>
                                    </li>
                                <li role="presentation">
                                    <a href=@("#LSPECTRUM" + index.ToString()) aria-controls=@("LSPECTRUM" + index.ToString()) role="tab" data-toggle="tab">
                                        SPECTRUM
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href=@("#LSPECIFICATION" + index.ToString()) aria-controls=@("LSPECIFICATION" + index.ToString()) role="tab" data-toggle="tab">
                                        SPECIFICATION
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href=@("#LDATA" + index.ToString()) aria-controls=@("LDATA" + index.ToString()) role="tab" data-toggle="tab">
                                        DATA
                                    </a>
                                </li>
                                </ul>
                                <div class="tab-content" style="float: left">
                                    <div role="tabpanel" class="tab-pane active" style="text-align:left;width:300px;padding-left:10px;padding-top:10px" id=@("LINTRODUCTION" + index.ToString())>
                                        <pre class="preDes" style="word-break:keep-all">@p.Description</pre>
                                    </div>
                                <div role="tabpanel" class="tab-pane" id=@("LSPECTRUM" + index.ToString())>
                                    <img src=@p.Spectrum class="img-responsive" style="width:300px;height:200px" />
                                </div>
                                <div role="tabpanel" class="tab-pane" id=@("LSPECIFICATION" + index.ToString()) style="text-align:left;font-size: 15px">
                                    <br />
                                    <div class="productParameterDiv">Power:</div>@p.Power
                                    <br />
                                    <div class="productParameterDiv">Size:</div>@p.Specification
                                    <br />
                                    <div class="productParameterDiv">Efficiency:</div>@p.Efficient
                                    <br />
                                    <div class="productParameterDiv">PPF:</div>@p.Ppf
                                    <br />
                                    <div class="productParameterDiv">Beam:</div>@p.LightingAngle
                                </div>
                                <div role="tabpanel" class="tab-pane" id=@("LDATA" + index.ToString())>
                                    <br />
                                    <div class="row" style="width: 300px;height: 200px">
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                        </div>
                                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                                            @if (!string.IsNullOrEmpty(p.ProductGuide) && !string.IsNullOrWhiteSpace(p.ProductGuide))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductGuide)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/pdf_icon.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Guide
                                                </a>
                                                <br />
                                                <br />
                                            }
                                            @if (!string.IsNullOrEmpty(p.ProductInstallationGuide) && !string.IsNullOrWhiteSpace(p.ProductInstallationGuide))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductInstallationGuide)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/pdf_icon.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Installation Guide
                                                </a>
                                                <br />
                                                <br />
                                            }
                                             @if (!string.IsNullOrEmpty(p.ProductDatasheet) && !string.IsNullOrWhiteSpace(p.ProductDatasheet))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductDatasheet)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/excel.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datasheet
                                                </a>
                                                <br />
                                                <br />
                                            }
                                            @if (!string.IsNullOrEmpty(p.ProductIES) && !string.IsNullOrWhiteSpace(p.ProductIES))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductIES)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/zip.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IES-Data LDT-Data
                                                </a>
                                                <br />
                                                <br />
                                            }
                                        </div>
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <br />
                            <br />
                            <br />
                            <img class="img-responsive disInlineBlockWithoutSize" style="max-width: 450px;float: left" src=@p.PicturePath />
                        </div>
                    }
                </div>
            }
        }
    </div>

    <!-- 小屏幕部分 -->
    <div class="visible-xs visible-sm hidden-md hidden-lg">
        @{
            int indexSmall = 10;
            if (ProductList == null)
            {
                return;
            }

            foreach(var p in ProductList)
            {
                <div class="productScenePadding row text-center" style="background-image:url(@p.BackgroundPicturePath);background-size:cover">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <br />
                        <br />
                        <img class="img-responsive disInlineBlockWithoutSize" src=@p.PicturePath />
                    </div>
                    <div class="col-md-1 col-lg-1">

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <div>
                            <!--文字描述及其他信息-->
                            <p style="text-align:left;margin:30px 30px 30px 0">
                                <!--产品描述部分-->
                                @p.Description
                            </p>

                            <h5>Product Data</h5>

                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href=@("#MSPECTRUM" + indexSmall.ToString())>SPECTRUM</a></li>
                                <li role="presentation">
                                    <a href=@("#MSPECIFICATION" + indexSmall.ToString())>SPECIFICATION</a>
                                </li>
                                <li role="presentation"><a href=@("#MDATA" + indexSmall.ToString())>DATA</a></li>
                            </ul>

                            <div class="tab-content" style="float: left">
                                <div role="tabpanel" class="tab-pane active" id=@("MSPECTRUM" + indexSmall.ToString())>
                                    <br />
                                    <img src=@p.Spectrum class="img-responsive" style="width:300px;height:200px" />
                                </div>
                                <div role="tabpanel" class="tab-pane" id=@("MSPECIFICATION" + indexSmall.ToString()) style="text-align: left">
                                    <br />
                                    @p.Power
                                    <br />
                                    @p.Specification
                                    <br />
                                    @p.Efficient
                                    <br />
                                    @p.Ppf
                                    <br />
                                    @p.LightingAngle
                                </div>
                                <div role="tabpanel" class="tab-pane" id=@("MDATA" + indexSmall.ToString())>
                                    <br />
                                    <div class="" style="width:300px;height:200px">
                                        <div class="col-xs-12 col-sm-1 col-md-1 co-lg-1">

                                        </div>
                                        <div class="col-xs-12 col-sm-10 col-md-10 co-lg-10 nonePaddingCol">

                                            @if (!string.IsNullOrEmpty(p.ProductGuide) && !string.IsNullOrWhiteSpace(p.ProductGuide))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductGuide)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/pdf_icon.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Guide
                                                </a>
                                                    <br />
                                                    <br />
                                            }
                                            @if (!string.IsNullOrEmpty(p.ProductInstallationGuide) && !string.IsNullOrWhiteSpace(p.ProductInstallationGuide))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductInstallationGuide)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/pdf_icon.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Installation Guide
                                                </a>
                                                    <br />
                                                    <br />
                                            }
                                            @if (!string.IsNullOrEmpty(p.ProductDatasheet) && !string.IsNullOrWhiteSpace(p.ProductDatasheet))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductDatasheet)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/pdf_icon.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datasheet
                                                </a>
                                                    <br />
                                                    <br />
                                            }
                                            @if (!string.IsNullOrEmpty(p.ProductIES) && !string.IsNullOrWhiteSpace(p.ProductIES))
                                            {
                                                <a class="aNoneDec" href=@(p.ProductIES)>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="imgThirtySize" src="~/images/zip.png" alt="Alternate Text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IES-Data LDT-Data
                                                </a>
                                            }
                                        </div>
                                        <div class="col-xs-12 col-sm-1 col-md-1 co-lg-1">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                indexSmall++;                
            }
        }
    </div>
</div>

@section Scripts {

}