@model Ledinpro.Models.ProductScene

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductScene</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PicturePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductApplicationScene)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductApplicationScene)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MobilePicturePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobilePicturePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
