@model Ledinpro.Models.Product

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="leftTopTitle">
    <p>编辑</a>
</div>
<hr />
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-8">
        <form method="POST" enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Code" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Code" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Name" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Type" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <select asp-for="Type" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(ProductType))"></select>
                    </div>
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Description" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Specification" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Specification" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Specification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Power" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Power" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Lumen" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Lumen" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Lumen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="LightingAngle" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="LightingAngle" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="LightingAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Efficient" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Efficient" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Efficient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Dimming" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Dimming" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Dimming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="SceneName" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="SceneName" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="SceneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="ProductSceneId" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <select asp-for="ProductSceneId" class="form-control" asp-items="@(ViewBag.SceneList)"></select>
                    </div>
                </div>
                <span asp-validation-for="ProductSceneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="ScenePicturePath" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <img src="@Model.ScenePicturePath" class="imgThirtySize" />
                        <input type="hidden" asp-for="ScenePicturePath" />
                        <input type="file" id="ScenePicturePath" name="scenePicture" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="ScenePicturePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Weight" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Weight" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Heat" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Heat" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Heat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Ppf" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <input asp-for="Ppf" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Ppf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="PicturePath" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <img src="@Model.PicturePath" class="imgThirtySize" />
                        <input type="hidden" asp-for="PicturePath" />
                        <input type="file" id="PicturePath" name="picture" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="PicturePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="MobilePicturePath" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <img src="@Model.MobilePicturePath" class="imgThirtySize" />
                        <input type="hidden" asp-for="MobilePicturePath" />
                        <input type="file" id="MobilePicturePath" name="mobilePicture" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="MobilePicturePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="BackgroundPicturePath" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <img src="@Model.BackgroundPicturePath" class="imgThirtySize" />
                        <input type="hidden" asp-for="BackgroundPicturePath" />
                        <input type="file" id="BackgroundPicturePath" name="backgroundPicture" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="BackgroundPicturePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="Spectrum" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <img src="@Model.Spectrum" class="imgThirtySize" />
                        <input type="hidden" asp-for="Spectrum" />
                        <input type="file" id="Spectrum" name="spectrum" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="Spectrum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="ProductGuide" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <label>@(Model.ProductGuide)</label>
                        <input type="hidden" asp-for="ProductGuide" />
                        <input type="file" id="ProductGuide" name="productGuide" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="ProductGuide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="ProductInstallationGuide" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <label>@(Model.ProductInstallationGuide)</label>
                        <input type="hidden" asp-for="ProductInstallationGuide" />
                        <input type="file" id="ProductInstallationGuide" name="productInstallGuide" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="ProductInstallationGuide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="ProductDatasheet" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <label>@(Model.ProductDatasheet)</label>
                        <input type="hidden" asp-for="ProductDatasheet" />
                        <input type="file" id="ProductDatasheet" name="productDatasheet" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="ProductDatasheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-lg-2 fieldTitle">
                        <label asp-for="ProductIES" class="control-label"></label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <label>@(Model.ProductIES)</label>
                        <input asp-for="ProductIES" type="hidden" />
                        <input type="file" id="ProductIES" name="productIes" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="ProductIES" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
                <a asp-action="Index" asp-route-sceneId="@(ViewBag.SceneId)" class="btn btn-danger" style="float: right">放弃保存</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
