@model IEnumerable<Ledinpro.Models.Product>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="leftTopTitle">
    <a asp-action="Create" asp-route-sceneId="@(ViewBag.SceneId)">新建</a>
</div>

<table class="table table-responsive">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Power)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lumen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LightingAngle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Efficient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dimming)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ppf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SceneName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScenePicturePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PicturePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobilePicturePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BackgroundPicturePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Spectrum)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LightingAngle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ppf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SceneName)
            </td>
            <td>
                <img src="@(item.ScenePicturePath)" class="imgThirtySize" />
            </td>
            <td>
                <img src="@(item.PicturePath)" class="imgThirtySize" />
            </td>
            <td>
                <img src="@(item.MobilePicturePath)" class="imgThirtySize" />
            </td>
            <td>
                <img src="@(item.BackgroundPicturePath)" class="imgThirtySize" />
            </td>
            <td>
                <img src="@(item.Spectrum)" class="imgThirtySize" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.Id">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
